@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

html {
	background-color: #181825;
	color: #cdd6f4;
	font-family: "Bebas Neue";
	font-size: 1.5em;
	max-width: 1440px;
	margin: 0 auto;
}

body {
	padding-top: 1em;
	padding-inline: 1em;
	background-color: #1e1e2e;
	min-height: 100vh;
	margin: 0;
}

p {
	margin: 0;
}

h3 {
	font-weight: 400;
	margin: 0;
	grid-area: bookName;
}

button {
	padding: 0.5em;
	background-color: #11111b;
	color: #cdd6f4;
	border-radius: 0.75em;
	border-style: solid;
}

body > button {
	border-color: #a6e3a1;
}

.book {
	background-color: #181825;
}

.book > p {
	grid-area: paragraph;
}

.book > button {
	border-color: #f38ba8;
}

dialog:popover-open {
	display: flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 1em;
}

dialog::backdrop {
	background-color: #0000006e;
}

dialog div {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-bottom: auto;
	align-items: center;
}

dialog button {
	margin-top: 1em;
	margin: 0 auto;

	padding: 0.5em;
	padding-block: 0.3em;
}

.book {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	grid-template-areas: "bookName button" "paragraph button";

	border-left: solid;
	border-radius: 0 0.2em 0.2em 0;
	padding-block: 0.3em;
	padding-inline: 0.5em;
	margin-bottom: 1em;
}

.book > button {
	grid-area: button;
	justify-self: right;
	align-self: center;
}
